<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="manage-users-page">
    <%- include('includes/nav') %>
    <div id="manage-users-container">
        <header id="manage-users-header">
            <h1>Manage Users</h1>
        </header>

        <div class="manage-users-box-container">
            <div class="manage-users-box manage-users-form-container">
                <h2>Add User</h2>
                <form action="/manage-users/add" method="POST">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                    <label for="phone_number">Phone Number:</label>
                    <input type="text" id="phone_number" name="phone_number" required>
                    <label for="location">Location:</label>
                    <input type="text" id="location" name="location" required>
                    <button type="submit">Add User</button>
                </form>
            </div>

            <div class="manage-users-box manage-users-list-container">
                <h2>Current Users</h2>
                <ul class="manage-users-list">
                    <% users.forEach(function(user) { %>
                        <li>
                            <span><%= user.name %> - <%= user.phone_number %> - <%= user.location %></span>
                            <form class="delete-form" action="/manage-users/delete" method="POST">
                                <input type="hidden" name="uid" value="<%= user.uid %>">
                                <button class="delete-button" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
    <%- include('includes/footer') %>
</body>
</html>
